Repository TeamBeMyPlan/BeMyPlan-Android, pull requests merged in 2022-02, with the labels that each got.

#180 Feature/173
  app/build.gradle
  app/src/main/res/layout/activity_after_purchase.xml
  settings.gradle
Labels: layout, 💪🏻정훈💪🏻, refactor

#182 [CHORE] #181 - 일차 별 버튼 크기 조정
  app/src/main/res/layout/item_day_button.xml
Labels: chore, layout, 💪🏻정훈💪🏻

#184 [FEAT] #183 - 신청하기 버튼 추가 및 이메일로 이동 구현
  app/src/main/java/co/kr/bemyplan/ui/main/myplan/settings/creator/CreatorProposeActivity.kt
  app/src/main/res/layout/activity_creator_propose.xml
Labels: feat, 💪🏻정훈💪🏻

#189 Feature/185
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/AfterPurchaseActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/DailyContentsFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/adapter/DailyContentsAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/viewmodel/AfterPurchaseViewModel.kt
  app/src/main/res/layout/activity_after_purchase.xml
  app/src/main/res/layout/fragment_daily_contents.xml
Labels: chore, 💪🏻정훈💪🏻, refactor, MVVM

#190 [FEAT] #188 - 일단 다이얼로그 성공 하지만 고치고싶음
  app/src/main/java/co/kr/bemyplan/ui/purchase/before/ChargingFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/before/ZeroEventDialog.kt
  app/src/main/res/layout/dialog_zero_event.xml
Labels: feat, 📸용민🎬

#192 UI/165
  .idea/deploymentTargetDropDown.xml
  app/src/main/java/co/kr/bemyplan/ui/login/SignUpFragment.kt
  app/src/main/res/color/selector_menu.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/values/strings.xml
Labels: feat, ✈️승현✈️, layout, refactor

#194 UI/193
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/NotEmptyScrapFragment.kt
  app/src/main/res/layout/fragment_not_empty_scrap.xml
  app/src/main/res/layout/item_scrap_content.xml
  app/src/main/res/layout/item_scrap_empty_content.xml
Labels: ✈️승현✈️, layout, refactor

#196 UI/195
  app/src/main/java/co/kr/bemyplan/ui/list/adapter/ListAdapter.kt
  app/src/main/res/layout/activity_list.xml
  app/src/main/res/layout/fragment_not_empty_scrap.xml
  app/src/main/res/layout/item_list_content.xml
Labels: ✈️승현✈️, layout, refactor

#198 UI/197
  app/src/main/java/co/kr/bemyplan/ui/list/ListActivity.kt
  app/src/main/res/layout/activity_list.xml
  app/src/main/res/layout/fragment_before_charging.xml
  app/src/main/res/values/strings.xml
Labels: ✈️승현✈️, layout, refactor

#199 [UI] #197 - margin 제거
  app/src/main/res/layout/fragment_before_charging.xml
Labels: ✈️승현✈️, layout, refactor

#201 Feat/200
  app/src/main/java/co/kr/bemyplan/data/entity/list/ContentModel.kt
  app/src/main/java/co/kr/bemyplan/ui/list/ListActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/list/adapter/ListAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/list/viewmodel/ListViewModel.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/NotEmptyScrapFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/adapter/ScrapAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/before/BeforeChargingFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/before/viewmodel/BeforeChargingViewModel.kt
  app/src/main/res/drawable/selector_scrap.xml
  app/src/main/res/layout/item_scrap_content.xml
Labels: feat, ✈️승현✈️

#204 [UI] #202 - 회원가입 뷰 디자인 변경사항 적용 및 구현완료
  app/src/main/java/co/kr/bemyplan/ui/login/LoginActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/login/OldSignUpFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/login/SignUpFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/login/signup/CheckEmailFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/login/signup/CheckNicknameFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/login/signup/CheckTermsFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/login/viewmodel/LoginViewModel.kt
  app/src/main/res/layout/fragment_check_email.xml
  app/src/main/res/layout/fragment_check_nickname.xml
  app/src/main/res/layout/fragment_check_terms.xml
  app/src/main/res/layout/fragment_old_sign_up.xml
  app/src/main/res/layout/fragment_sign_up.xml
  app/src/main/res/values/strings.xml
Labels: feat, ✈️승현✈️, layout, refactor

#206 Feat/205
  app/src/main/java/co/kr/bemyplan/ui/list/ListActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/list/adapter/ListAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/EmptyScrapFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/NotEmptyScrapFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/adapter/ScrapAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/adapter/ScrapRecommendAdapter.kt
Labels: feat, ✈️승현✈️, refactor

#208 Feat/207
  .idea/deploymentTargetDropDown.xml
  app/build.gradle
  app/src/main/java/co/kr/bemyplan/ui/main/MainActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/main/home/HomeFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/myplan/MyPlanFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/ScrapFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/scrap/adapter/ScrapAdapter.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_bnv.xml
  app/src/main/res/navigation/nav_main.xml
Labels: feat, ✈️승현✈️, refactor

#209 Feature/191
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/AfterPurchaseActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/DailyContentsFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/adapter/DailyContentsAdapter.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/adapter/ImageBindingAdapter.kt
  app/src/main/res/layout/item_daily_route.xml
Labels: bug, 💪🏻정훈💪🏻

#210 [FEAT] #203
  app/src/main/java/co/kr/bemyplan/ui/main/location/LocationAdapter.kt
  app/src/main/res/layout/fragment_charged.xml
  app/src/main/res/layout/fragment_charging.xml
  app/src/main/res/layout/fragment_home.xml
Labels: layout, 📸용민🎬

#213 Feature/211
  .idea/deploymentTargetDropDown.xml
  app/src/main/java/co/kr/bemyplan/ui/main/myplan/MyPlanFragment.kt
  app/src/main/java/co/kr/bemyplan/ui/main/myplan/settings/SettingsActivity.kt
  app/src/main/java/co/kr/bemyplan/ui/purchase/after/adapter/DailyContentsAdapter.kt
  app/src/main/res/layout/activity_after_purchase.xml
  app/src/main/res/layout/activity_settings.xml
  app/src/main/res/layout/activity_withdrawal.xml
  app/src/main/res/layout/fragment_my_plan.xml
  app/src/main/res/layout/item_daily_contents.xml
Labels: chore, layout, 💪🏻정훈💪🏻
